* {
    box-sizing: border-box;
}

.col-6 {
    width: 50%;
}

@media only screen and (max-width: 550px) {
    [class*="col-"] {
        width: 100%;
    }

    .test-question {
        flex-direction: column;
    }

    col-6 {
        width: 100%;
    }

    .mut {
        display: none;

    }

    .bsl {
        max-width: 163px;
    }
}

.testpage-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.testpage-wrapper .test-question {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px 10px 10px;
    margin-top: 20px;
}

.test-question .question {

    height: 100%;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(101, 101, 101, 0.1);
    border-right: 2px solid rgba(101, 101, 101, 0.2);
    padding: 40px 20px;
}

.test-question .option-parent {
    height: 100%;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.1);
    padding: 40px 40px;
}

.option-parent .options {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background: antiquewhite; */
}

.options label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 20px 0;
}

.option-parent .prev-next {
    display: flex;
    justify-content: flex-end;
}

.prev-next button {
    margin: 0 5px 0 0;
    font-size: 16px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid rgba(101, 101, 101, 0.1);
    cursor: pointer;
    text-align: center;
    padding: 8px;
    width: 89px;
}

.prev-next button:hover {
    border: 2px solid rgba(101, 101, 101);
}