@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing : grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./Assets/white-gradient-purple-linear-3840x2160-c2-7b68ee-ffffff-a-255-f-14.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

body{
    font-family: 'Open Sans', sans-serif;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing : grayscale; 
}

code{
    font-family: source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}